@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap');
@import "lg.css" screen and (min-width: 800px);

body {
    background-size: cover;
    background-color: #323031;
    font-family: 'Red Hat Mono', monospace;
}

.text-highlight {
    color: #6F58C9;
    animation: highlight 8s linear 0ms infinite both;
}

@keyframes highlight {
    from {
        color: #6F58C9;
    }
    50% {
        color: #4618ff;
    }
    to {
        color: #6F58C9;
    }
}