@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap');
@import "lg.css" screen and (min-width: 1250px);
@import "sm.css" screen and (max-width: 1250px);

body {
    background-size: cover;
    background-color: #323031;
    font-family: 'Red Hat Mono', monospace;
    color: #E3EDF2;
}

main {
    padding: 1em;
}

.text-highlight {
    color: #6F58C9;
    animation: highlight 8s linear 0ms infinite both;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Index name animation */
@keyframes highlight {
    from {
        color: #6F58C9;
    }
    50% {
        color: #4618ff;
    }
    to {
        color: #6F58C9;
    }
}

@keyframes highlight-pseudo-blue {
    from {
        color: #261dce;
    }

    35% {
        color: transparent;
        transform: translate(7px, 7px);
    }

    65% {
        color: transparent
    }

    to {
        color: #261dce;
    }
}

@keyframes highlight-pseudo-red {
    from {
        color: #b51717;
    }

    35% {
        color: transparent;
        transform: translate(-7px, -7px);
    }

    65% {
        color: transparent;
    }

    to {
        color: #b51717;
    }
}

@keyframes highlight-main {
    from {
        color: transparent;
    }

    25% {
        color: #815eaa
    }

    75% {
        color: #815eaa
    }

    to {
        color: transparent;
    }
}